.error404 .page-title {
    font-family: Nove Normal;
    font-size: 2.5rem;
    text-transform: uppercase;
}
.error404 h2 {
    font-family: Nove Normal;
    font-size: 1.5rem;
    text-transform: uppercase;
    color: #2f1339
}
.error404 ul {
    margin-left: 0;
    padding-left: 0;
}
.error404 a {
    color: $primary-color;
    text-decoration: none;
}
.error404 li {
    list-style: none;
}