.tax-product_type .page-title, .post-type-archive .page-title {
    text-align: center;
    padding-top: 60px;
    font-size: 2.5rem;
    text-transform: uppercase;
    margin-top: 0;
}
.category-parts {
    padding-top: 2rem;
}
.taxonomy-description {
    display: none;
}
.category-parts .page-title {
    font-family: 'Nove Normal';
}
.tax-product_type .taxonomy-description {
    display: flex;
    justify-content: center;
    margin-bottom: 1.5rem;
}
.tax-product_type .taxonomy-description p {
    margin-top: 0;
}
.tax-product_type .category-parts {
    border-bottom: 1px dashed #c8c8c8;
    margin-bottom: 2rem;
}
.tax-product_type  .site-content {
    display: inherit;
}
.cat-tags {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
    border-bottom: #c8c8c8 1px dashed;
    height: 80px;
}
.archive .tags-a a {
    margin: 25px;
    color: $primary-color;
    text-decoration: none;
    font-size: 1.3rem;
    font-family: Nove DemiBold;
    
}
.tax-product_type .tags-a:hover, .post-type-archive .tags-a a:hover {
    color: #2f1339;
}
.tax-product_type .page-header, .post-type-archive .page-header {
    width: 100%;
}
.tax-product_type article, .post-type-archive article {
    width: 260px;
    margin-bottom: 0;
}
.tax-product_type .entry-content, .post-type-archive .entry-content {
    margin-top: 0;
}
.tax-product_type .entry-header, .post-type-archive .entry-header {
    height: 250px;
    overflow: hidden;
}
.tax-product_type .site-main, .post-type-archive .site-main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-bottom: 2rem;
}
.tax-product_type  article img, .post-type-archive article img {
    height: 250px;
    width: auto;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%)
}
.tax-product_type .entry-content p, .post-type-archive .entry-content p {
    display: none;
}
.archive-text {
    border-left-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-top-width: 5px;
    border-style: solid;
    border-color: $border-grey;
    height: 60px;
    margin-bottom: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.elips {
    display: flex;
    margin: 0 2px;
    &:after {
        content: '...........';
    }
}
