/*--------------------------------------------------------------
# Content
--------------------------------------------------------------*/

/* Posts and pages */
.entry-header {
	position: relative;
	line-height: 0;
}
.blog .entry-title {
	position: absolute;
	top: 0;
	background-color: #248a83;
	max-width: 75%;
	padding: .75rem 1.5rem;
	margin-top: 3rem;
	color: white;
	font-size: 2rem;
	line-height: 1.25rem;
}
.blog h2 a {
	color: white;
	text-decoration: none;
	line-height: 1;
}
.blog .entry-meta {
	background-color: #248a83;
	position: absolute;
	bottom: 0;
	line-height: 1.25rem;
	color: white;
	padding: .5rem 1.25rem;
	right: 0;
}
.site-content {
	display: flex;
	width: 1120px;
	margin-right: auto;
	margin-left: auto;
	
}

.blog .content-area  {
	border-right-width: 1px;
	border-right-color: #e1e1e1;
	border-right-style: solid;
	width: 73%;
	flex-grow: 1;
}


.site-main {
	// width: 75%;
	// margin: 0 auto;
	
}
.sticky {
	display: block;
}

.hentry {
	margin: 0 0 $base__space-unit;
}

.updated:not(.published){
	display: none;
}

.single .byline,
.group-blog .byline {
	display: inline;
}

.page-content,
.entry-content,
.entry-summary {
	margin: $base__space-unit 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 $base__space-unit;
}

/* Asides */

.blog .format-aside .entry-title,
.archive .format-aside .entry-title {
	display: none;
}

/* Comments */

.comment-content a {
	word-wrap: break-word;
}
.bypostauthor {
	display: block;
}
