/*--------------------------------------------------------------
# Content
--------------------------------------------------------------*/

/* Posts and pages */
body {
	font-family: Merriweather Light;
	font-size: 1rem;
}
.read-more:visited {
	color: initial
}
.read-more-journal:visited {
	color: initial
}
.entry-header {
	position: relative;
	line-height: 0;
}
.entry-content p {
	text-overflow: ellipsis; 
}
.entry-content span {
	font-weight: 400;
}
.category .entry-title, .blog .entry-title, .post-template-default .entry-title {
	position: absolute;
	top: 0;
	background-color: #248a83;
	max-width: 75%;
	padding: .75rem 1.5rem;
	margin-top: 3rem;
	color: white;
	font-size: 2rem;
	line-height: 1.25rem;
}
.category h2 a, .blog h2 a {
	color: white;
	text-decoration: none;
	line-height: 1;
}
.category .entry-meta, .blog .entry-meta, .post-template-default .entry-meta {
	background-color: #248a83;
	position: absolute;
	bottom: 0;
	line-height: 1.25rem;
	color: white;
	padding: .5rem 1.25rem;
	right: 0;
}
.category .entry-meta .entry-date, .blog .entry-meta .entry-date {
	color: white;
}
.category .entry span, .blog .entry-meta span {
	font-weight: 400
}

	
.site-content, .home .site-main {
	display: flex;
	width: 1120px;
	margin-right: auto;
	margin-left: auto;
	
}
.home .site-content, .page-template .site-content {
	display: flex;
	flex-direction: column;
	margin-left: 0;
	margin-right: 0;
	width: 100%
}
.home .site-main {
	display: flex;
	width: 1120px;
	margin-right: auto;
	margin-left: auto;
	flex-direction: column;
	
}
.page-template-about .entry-header {
	background: no-repeat center bottom;
}
.category .content-area, .blog .content-area, .page-template-default .content-area, .post-template-default .content-area, .error404 .content-area, .search .content-area  {
	border-right-width: 1px;
	border-right-color: #e1e1e1;
	border-right-style: solid;
	width: 73%;
	flex-grow: 1;
}
.category .site-main, .blog .site-main, .page-id-41 .site-main, .post-template-default .site-main {
	margin-right: 3.5rem;
}
.category .site-main, .category .widget-area, .blog .site-main, .blog .widget-area, .page-id-41 .widget-area, .page-id-41 .site-main, .post-template-default .site-main, .post-template-default .widget-area, .error404 .site-main, .error404 .widget-area, .search .site-main, .search .widget-area {
	margin-top: 6rem;
}
figure {
	margin: 0;
}
.page-template-default .content-area h1 {
	font-size: 2.5rem;
	text-transform: uppercase;
	color: black;
}
.page-template-default .content-area h2 {
	font-size: 2.1rem;
	text-transform: uppercase;
	color: black;
	font-family: 'Nove DemiBold';
}
.page-template-default .content-area p {
		font-family: Merriweather Light
}
// .product-temlpate-default .site-main {
// 	margin-top: 80px;
// }
.page-template .entry-content {
	width: 800px;
	margin: 0 auto;
	
	h2 {
		text-align: center;
	}
}

input[type="email"], input[type="password"],  input[type="text"], input[type="url"] {
	width: 420px;
	padding: 8px;
}
input[type="submit"] {
	background-color: #248a83;
	border: none;
	box-shadow: none;
	text-shadow: none;
	border-radius: 0;
	color: #fff;
	padding: .75rem 1.5rem;
	font-size: .8rem;
	text-transform: uppercase;
}

.sticky {
	display: block;
}

.hentry {
	margin: 0 0 $base__space-unit;
}

.updated:not(.published){
	display: none;
}

.single .byline,
.group-blog .byline {
	display: inline;
}

.page-content,
.entry-content,
.entry-summary {
	margin: $base__space-unit 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 $base__space-unit;
}

/* Asides */

.tax-product_type .format-aside .entry-title
.blog .format-aside .entry-title,
.archive .format-aside .entry-title {
	display: none;
}

/* Comments */


