
footer p {
    color: white;
}
.contact {
    grid-column-start: 2;
    padding-top: 3rem;
}
.infohead, .hourshead {
    color: #d99054;
    text-transform: uppercase;
    font-family: Nove Normal;
    letter-spacing: 2px
}
.email {
    text-decoration: none;
    color: white;
}
.email:hover {
    text-decoration: underline;
    color: white
}
.phone:hover {
    text-decoration: underline;
}
.hours {
    grid-column-start: 3;
    padding-top: 3rem;
}
span {
    font-weight: bold;
}
// .hourshead {
//     font-family: Nove Normal;
//     color: #d99054;
//     text-transform: uppercase;
// }
.site-info {
    display: none;
}
footer li {
    
    font-size: 1rem;
}
.fa-twitter-square, .fa-google-plus-square, .fa-facebook-square, .fa-envelope,  .fa-phone {
margin-right: 10px;
font-size: 1.3rem;
color: white;
}
// .fa-facebook-square {
//     margin-left: 0;
// }
// .fa-envelope,  .fa-phone {
//     margin-right: 5px;
//     font-size: 1.3rem;
//     }
.site-footer {
    background-image: url(../../images/dark-wood.png);
    // display: flex;
    // justify-content: space-around; 
    display: grid;
    grid-template-columns: 8% 21% 31% 11%;
    grid-template-rows: 211px 80px 64px;
    font-size: 1rem;
    font-family: Merriweather Light;
}

.icons {
   list-style: none;
   display: flex;
   flex-direction: row;
   padding: 0; 
   margin-left: 0;
}

.logo-footer {
    grid-column-start: 5;
}

.copyright {
    grid-row-start: 3;
    grid-column-start: 3;
    display: flex;
    justify-content: end;
}
