.search-field {
    display: none;
}
fieldset {
    border: none;

}
.fa-search {
    color: #248a83;
    display: block;
    font-size: 1rem; 
}
.search-submit {
    padding: 0;
    border: none;
    background: none;
    position: relative;
    vertical-align: bottom;
    box-shadow: none;
}