.single-product .entry-header img {
    width: 550px;
}
.single-product .site-main {
    margin-top: 6rem;
    margin-bottom: 8rem;
}
.single-product .nav-previous, .single-product .nav-next {
    display: none;
}
.single-product article {
    display: flex;
}
.single-product .entry-content {
    width: 47.5%;
    margin-left: 3rem;
    margin-top: 0;
}
.single-product .entry-title {
    color: #d99054;
    font-family: 'Nove Normal';
    font-size: 3rem;
    margin: 0;
}
.single-product .entry-meta {
    display: none;
}
.product-price {
    font-size: 2rem;
    font-family: 'Nove DemiBold';
}
.single-product .entry-content p {
    line-height: 1.75;
}