/*--------------------------------------------------------------
# Widgets
--------------------------------------------------------------*/

.widget {
	margin: 0 0 $base__space-unit;

	/* Make sure select elements fit in widgets. */
	select {
		max-width: 100%;
	}
	.widget-title {
		color: #2f1339;
		text-transform: uppercase;
		letter-spacing: 2px;
		font-family: 'Nove Normal'
	}
	
}

/* Search widget. */
.widget_search .search-submit {
	display: none;
}
.sidephone {
	color: #248a83;
}
.sidephone:hover {
	color: #2f1339;
}
.sideemail {
	color: #248a83;
}
.sideemail:hover {
	color: #2f1339
}
// .widgets {
// 	display: flex;
// 	justify-content: flex-end;
// 	width: 398px;
// 	position: fixed
// }
.widget-area {
	// width: 398px;
-ms-flex-direction: column;
flex-direction: column;
padding-left: 3rem;
position: relative;
left: 942px;
position: sticky;
height: 100%;
}
.sidecontact {
	display: flex;
	flex-direction: row;
	margin-bottom: 1rem;
	font-family: Merriweather Light;
	i {
		font-size: 1rem;
		margin-right: 10px;
	
	}
}
.textwidget {
display: flex;
flex-direction: column;	
}
.widget_archive li {
	list-style: none;
}
.widget_archive li a {
	color: #248a83;
	text-decoration: none;
}
.widget_archive ul {
	padding-left: 0;
	margin-left: 0;
}
.widget_archive:hover {
	color: #2f1339
}